[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
supabase = "*"
python-decouple = "*"
psycopg = {extras = ["pool", "binary"], version = "*"}
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.14"
